{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>EXPENSES</h2>
    <form action="/" method="POST">
        <div>
            <p>FROM:</p>
            <input autocomplete="off" id="date_from" name="date_from" type="date">
        </div>
        <div>
            <p>TO:</p>
            <input autocomplete="off" id="date_to" name="date_to" type="date">
        </div>
        <button type="submit">APPLY</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
            {% for record in data %}
            <tr>
                <th>{{ record.name }}</th>
                <th>{{ record.description }}</th>
                <th>{{ record.amount | usd }}</th>
                <th>{{ record.category }}</th>
                <th>{{ record.date }}</th>
            </tr>
            {% endfor %}  
        </thead>
    </table>
    
{% endblock %}