<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker | {% block title %}{% endblock %}</title>
    </head>
    {% if get_flashed_messages() %}
        <header>
            <div role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>