<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}{% endblock %}
        
        <title>Expense Tracker | {% block title %}{% endblock %}</title>
    </head>
    
    <body>

        <nav>
            {% if session["user_id"] %}
            <a href="/">Home</a>
            <a href="/add_expense">Add expense</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            {% endif %}
        </nav>

        {% if get_flashed_messages() %}
        <header>
            <div role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>
</html>